@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

//css reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//setting values to variables
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$very-light-gray: hsl(0, 0%, 95%); //(background, headings, buttons)

$para-font-size: 15px;
